<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/htmx.min.js"></script>
</head>

<body>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <div class="rela-block page">
        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button href="#projects" class="dropbtn">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/projects/slots">Slot Machine game</a>
                    <a href="#">Online Doc Editor</a>
                    <a href="#">Video Restream application</a>
                </div>
            </div>
            <a class="active" href="/files">Files</a>
            <a href="/api">API Docs</a>
            <a style="float: right" href="/login">Log in</a>
        </div>
        <div class="rela-block files-bar">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: #fff; float: left; text-align: left;" class="rela-block caps title">My resume</h2>
                <iframe
                    src="/files"
                    style="width:600px; height:500px;" frameborder="0"></iframe>
            </div>
        </div>
        <div class="rela-block files-bar" style="background-color: #fff;">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: #fff; float: left; text-align: left;" class="rela-block caps title">Python Automation
                    Course Certificate</h2>
            </div>
            <iframe
                src="http://docs.google.com/gview?url=http://infolab.stanford.edu/pub/papers/google.pdf&embedded=true"
                style="width:600px; height:500px;" frameborder="0"></iframe>
        </div>
    </div>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="../static/script.js"></script>
</body>

</html>