<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/htmx.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
</head>

<body>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <div class="rela-block page">
        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button href="#projects" class="dropbtn">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a href="/projects/slots">Slot Machine game</a>
                    <a href="#">Online Doc Editor</a>
                    <a href="#">Video Restream application</a>
                </div>
            </div>
            <a class="active" href="/files">Files</a>
            <a href="/api">API Docs</a>
            <a style="float: right" href="/login">Log in</a>
        </div>
        <div class="rela-block files-bar">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: #fff; float: left; text-align: left;" class="rela-block caps title">Recommendation</h2>
                <iframe src="/files/recommendation_mpi.pdf" style="width: 100%; height:500px; padding-top: 15px;"
                    frameborder="0"></iframe>
            </div>
        </div>
        <div class="rela-block files-bar" style="background-color: #fff;">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: black; float: left; text-align: left;" class="rela-block caps title">Python QA Automation Engineer</h2>
                <iframe src="/files/qaguru_certificate.pdf" style="width: 100%; height:500px; padding-top: 15px;"
                    frameborder="0"></iframe>
            </div>
        </div>
        <div class="rela-block files-bar">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: #fff; float: left; text-align: left;" class="rela-block caps title">Python Automation
                    Course Certificate</h2>
                <iframe src="/files/stepik_certificate.pdf" style="width: 100%; height:500px; padding-top: 15px;"
                    frameborder="0"></iframe>
            </div>
        </div>
        <div class="rela-block files-bar" style="background-color: #fff;">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: black; float: left; text-align: left;" class="rela-block caps title">EF SET English Certificate 79/100 (C2 Proficient)</h2>
                <iframe src="/files/EF_SET_Certificate.pdf" style="width: 100%; height:500px; padding-top: 15px;"
                    frameborder="0"></iframe>
            </div>
        </div>
        <div class="rela-block files-bar">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: #fff; float: left; text-align: left;" class="rela-block caps title">My Resume</h2>
                <iframe src="/files/lev_zavodskov_cv.pdf" style="width: 100%; height:500px; padding-top: 15px;"
                    frameborder="0"></iframe>
            </div>
        </div>
        <div class="rela-block files-bar" style="background-color: #fff;">
            <div class="rela-block discriptive-content-container">
                <h2 style="color: black; float: left; text-align: left;" class="rela-block caps title">Software QA Engineer</h2>
                <iframe src="/files/manual_certificate.pdf" style="width: 100%; height:500px; padding-top: 15px;"
                    frameborder="0"></iframe>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="../static/script.js"></script>
</body>

</html>