<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/htmx.min.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <div class="rela-block page">
            <div class="navbar">
                <a class="active" href="/">Home</a>
                <div class="dropdown">
                    <button href="#projects" class="dropbtn">Projects
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/projects/slots">Slot Machine game</a>
                        <a href="#">Online Doc Editor</a>
                        <a href="#">Link1</a>
                    </div>
                </div>
                <a href="/files">Files</a>
                <a href="/api">API Docs</a>
                <a style="float: right" href="/login">Log in</a>
                <a href="/files/lev_zavodskov_cv.pdf" target="_blank">Download CV</a>
            </div>
        <div class="rela-block top-bar">
            <div class="caps name">
                <div class="abs-center">Lev Zavodskov</div>
            </div>
        </div>
        <div class="side-bar">
            <div class="mugshot">
                <div class="logo">
                    <img class="lev-photo" src="../static/lev.jpg" alt="Photo">
                </div>
            </div>
            <p style="padding-left: 15px;">Krasnodar, Russia</p>
            <p style="padding-left: 15px;">+7-918-313-47-27</p>
            <p style="padding-left: 15px;">nothingfatalleo@gmail.com</p><br>
            <p class="rela-block social github">github.com/Fatalwgx</p>
            <p class="rela-block social linked-in">/in/levzavodskov</p>
            <p class="rela-block social telegram">t.me/Fatalwgx</p>
            <p class="rela-block caps side-header">Recommendations</p>
            <p class="rela-block list-thing">Markov Processes International</p>
            <p class="rela-block caps side-header">Expertise</p>
            <p class="rela-block list-thing">Python</p>
            <p class="rela-block list-thing">Pytest / Selenium / Selene / Requests / Pydantic / Allure / SQLAlchemy /
                FastAPI / Jinja2 / Pandas</p>
            <p class="rela-block list-thing">SQL / Postgresql / Redis</p>
            <p class="rela-block list-thing">gRPC / JSON / XML / Swagger</p>
            <p class="rela-block list-thing">Docker / Jenkins / Selenoid</p>
            <p class="rela-block list-thing">HTML / CSS</p>
            <p class="rela-block caps side-header">Certifications</p>
            <p class="rela-block list-thing">Software QA Engineer Q3 2021</p>
            <p class="rela-block list-thing">Automation Testing with Python and Pytest Q1 2022</p>
            <p class="rela-block list-thing">Python QA Automation Engineer Q4 2022</p>
            <p class="rela-block list-thing">English C1</p>
        </div>
        <div class="rela-block content-container">
            <h2 class="rela-block caps title">Software QA Engineer</h2>
            <div class="rela-block separator"></div>
            <div class="rela-block caps greyed">Profile</div>
            <p class="long-margin">
                Throughout my career, I have had the opportunity to work with diverse clients, ranging from small-scale projects to enterprise-level solutions generating millions in revenue. My expertise lies in delivering quality assurance services, while also staying up-to-date with the latest technologies and tools in programming and automation development. I am committed to continuous learning and development, which enables me to bring innovative ideas and insights to every project I work on.
            </p>
            <div class="rela-block caps greyed">Experience</div>

            <h3>Client B</h3>
            <p class="light">Software QA Engineer Remote | 01.03.2022 - {{present}} *Present
            </p>
            <ul class="justified">
                <li>- Remote QA consulting services to a Top-2 Russian IT company</li>
                <li>- Development and maintainance of test documentation</li>
                <li>- Quality assurance of development processes, documentation</li>
                <li>- QA of processes pre-, peri- and post- developmepment</li>
                <li>- Bug reporting, bug cause localization</li>
                <li>- Data operations, SQL, PostgreSQL, reddis, kafka</li>
                <li>- RESTful API testing, Postman, Swagger, gRPC, JSON/XML</li>
                <li>- Functional and non-functional testing</li>
                <li>- Other techs: Gitlab CI/CD, Docker, Kubernetes, Git, kibana, figma,</li>
            </ul>

            <h3>Client A</h3>
            <p class="light">Software QA Engineer Remote | 09.11.2021 - 01.03.2022</p>
            <ul>
                <li>- Remote QA consulting services to a Summit, NJ based company focused on investments solutions for analisys, research and report.</li>
                <li>- Development and maintainance of test documentation</li>
                <li>- Quality assurance of development processes, documentation</li>
                <li>- QA of processes pre-, peri- and post- developmepment</li>
                <li>- Bug reporting, bug cause localization</li>
                <li>- Data operations, SQL, PostgreSQL, MS SQL, Dbeaver</li>
                <li>- Functional and non-functional testing, Data testing</li>
                <li>- Database Python automation</li>
                <li>- Other tools: Gitlab, Jira, psycopg2, SQLAlchemy, Docker, Git</li>

            </ul>

            <h3>IP Nikolai Krotov</h3>
            <p class="light">Manual QA Trainee</p>
            <ul>
                <li>- Outsource QA jobs under mentorship alongside training</li>
                <li>- Development of test documentation</li>
                <li>- Bug reporting, bug cause localization</li>
                <li>- Backend testing, SQL, Postgresql, REST api, JSON/XML</li>
                <li>- Git, Github, Bibucket</li>
                <li>- Web testing, HTML/CSS, devtools, Fiddler, Charles</li>
            </ul>
        </div>
    </div>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="../static/script.js"></script>

</body>

</html>