<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/htmx.min.js"></script>
</head>

<body>
    <!-- partial:index.partial.html -->
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- PAGE STUFF -->
    <div class="rela-block page">
            <div class="navbar">
                <a class="active" href="/">Home</a>
                <div class="dropdown">
                    <button href="#projects" class="dropbtn">Projects
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="/projects/slots">Slot Machine game</a>
                        <a href="#">Online Doc Editor</a>
                        <a href="#">Link1</a>
                    </div>
                </div>
                <a href="#files">Files</a>
                <a href="/api">API Docs</a>
                <a style="float: right" href="/login">Log in</a>
                <a href="/files/cv" target="_blank">Download CV</a>
            </div>
        <div class="rela-block top-bar">
            <div class="caps name">
                <div class="abs-center">Lev Zavodskov</div>
            </div>
        </div>
        <div class="side-bar">
            <div class="mugshot">
                <div class="logo">
                    <img class="lev-photo" src="../static/lev.jpg" alt="Photo">
                </div>
            </div>
            <p>Krasnodar, Russia 350908</p>
            <p>+7-918-313-47-27</p>
            <p>nothingfatalleo@gmail.com</p><br>
            <p class="rela-block social github">github.com/Fatalwgx</p>
            <p class="rela-block social linked-in">/in/levzavodskov</p>
            <p class="rela-block social telegram">t.me/Fatalwgx</p>
            <p class="rela-block caps side-header">Recommendations</p>
            <p class="rela-block list-thing">Markov Processes International</p>
            <p class="rela-block caps side-header">Expertise</p>
            <p class="rela-block list-thing">Python</p>
            <p class="rela-block list-thing">Pytest / Selenium / Selene / Requests / Pydantic / Allure / SQLAlchemy /
                FastAPI / Jinja2 / Pandas</p>
            <p class="rela-block list-thing">SQL / Postgresql / Redis</p>
            <p class="rela-block list-thing">gRPC / JSON / XML / Swagger</p>
            <p class="rela-block list-thing">Docker / Jenkins / Selenoid</p>
            <p class="rela-block list-thing">HTML / CSS</p>
            <p class="rela-block caps side-header">Certifications</p>
            <p class="rela-block list-thing">Software QA Engineer Q3 2021</p>
            <p class="rela-block list-thing">Automation Testing with Python and Pytest Q1 2022</p>
            <p class="rela-block list-thing">Python QA Automation Engineer Q4 2022</p>
            <p class="rela-block list-thing">English C1</p>
        </div>
        <div class="rela-block content-container">
            <h2 class="rela-block caps title">Software QA Engineer</h2>
            <div class="rela-block separator"></div>
            <div class="rela-block caps greyed">Profile</div>
            <p class="long-margin">Retro DIY quinoa, mixtape williamsburg master cleanse bushwick tumblr chillwave
                dreamcatcher hella wolf paleo. Knausgaard semiotics truffaut cornhole hoodie, YOLO meggings gochujang
                tofu. Locavore ugh kale chips iPhone biodiesel typewriter freegan, kinfolk brooklyn kitsch man bun.
                Austin neutra etsy, lumbersexual paleo cornhole sriracha kinfolk meggings kickstarter. </p>
            <div class="rela-block caps greyed">Experience</div>

            <h3>VK</h3>
            <p class="light">QA Engineer Remote | 01.03.2022 - {{present}} *Present
            </p>
            <pre class="justified">
• Provide remote QA consulting services to a Top-2 Russian IT company
• Development and maintainance of test documentation
• Quality assurance of development processes, documentation
• QA of processes pre-, peri- and post- developmepment
• Bug reporting, bug cause localization
• Data operations, SQL, PostgreSQL, reddis, kafka
• RESTful API testing, Postman, Swagger , gRPC, JSON/XML
• Functional and non-functional testing
• Other services: Gitlab CI/CD, Docker, Kubernetes, kibana, figma, minio, sap</pre>

            <h3>Job #2</h3>
            <p class="light">Second Job Description</p>
            <p class="justified">Beard before they sold out photo booth distillery health goth. Hammock franzen green
                juice meggings, ethical sriracha tattooed schlitz mixtape man bun stumptown swag whatever distillery
                blog. Affogato iPhone normcore, meggings actually direct trade lomo plaid franzen shoreditch. Photo
                booth pug paleo austin, pour-over banh mi scenester vice food truck slow-carb. Street art kogi normcore,
                vice everyday carry crucifix thundercats man bun raw denim echo park pork belly helvetica vinyl. </p>

            <h3>Job #3</h3>
            <p class="light">Third Job Bebcription</p>
            <p class="justified">Next level roof party lo-fi fingerstache skateboard, kogi tumblr. Shabby chic put a
                bird on it chambray, 3 wolf moon swag beard brooklyn post-ironic taxidermy art party microdosing
                keffiyeh marfa. Put a bird on it 3 wolf moon cliche helvetica knausgaard. Mumblecore fingerstache lomo,
                artisan freegan keffiyeh paleo kinfolk kale chips street art blog flannel.</p>
        </div>
    </div>
    <!-- partial -->
    <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
    <script src="../static/script.js"></script>

</body>

</html>