{% for column in columns %}
<div id="counter" classes="" style="font-size: 800%; color: black;">
    <ul id="line-1" class="digits digits-first lucky">
        <li> {{ column[0] }}
        <li> D
        <li> C
        <li> B
        <li> B
        <li> A
        <li> D
        <li> ‎
        <li> C
        <li> D
    </ul>
    <ul id="line-2" class="digits digits-second lucky">
        <li> {{ column[1] }}
        <li> A
        <li> C
        <li> D
        <li> D
        <li> A
        <li> B
        <li> D
        <li> ‎
        <li> D
    </ul>
    <ul id="line-3" class="digits digits-third lucky">
        <li> {{ column[2] }}
        <li> A
        <li> C
        <li> D
        <li> B
        <li> A
        <li> A
        <li> B
        <li> C
        <li> ‎
    </ul>
</div>
{% endfor %}
<div class="winnings faded" classes="remove faded:2s">Profit: {{ winnings }} </div>