{% for column in columns %}
<div id="counter" classes="toggle lucky" style="font-size: 800%; color: black;">
    <ul id="line-1" class="digits digits-first lucky">
        <li> {{ column[0] }}
        <li> D
        <li> C
        <li> B
        <li> B
        <li> A
        <li> D
        <li> A
        <li> C
        <li> D
    </ul>
    <ul id="line-2" class="digits digits-second lucky">
        <li> {{ column[1] }}
        <li> A
        <li> C
        <li> D
        <li> D
        <li> A
        <li> B
        <li> C
        <li> D
        <li> B
    </ul>
    <ul id="line-3" class="digits digits-third lucky">
        <li> {{ column[2] }}
        <li> B
        <li> C
        <li> D
        <li> B
        <li> A
        <li> A
        <li> B
        <li> C
        <li> D
    </ul>
</div>
{% endfor %}
<p class="winnings" style="color: black;">Profit: {{ winnings }} </p>