{% for column in columns %}
<div id="counter" classes="" style="font-size: 800%; color: black;">
    <ul id="line-1" class="digits digits-first lucky">
        <li class="cell"> {{ column[0] }}
        <li class="cell"> D
        <li class="cell"> C
        <li class="cell"> B
        <li class="cell"> B
        <li class="cell"> A
        <li class="cell"> D
        <li class="cell"> ‎
        <li class="cell"> C
        <li class="cell"> D
    </ul>
    <ul id="line-2" class="digits digits-second lucky">
        <li class="cell"> {{ column[1] }}
        <li class="cell"> A
        <li class="cell"> C
        <li class="cell"> D
        <li class="cell"> D
        <li class="cell"> A
        <li class="cell"> B
        <li class="cell"> D
        <li class="cell"> ‎
        <li class="cell"> D
    </ul>
    <ul id="line-3" class="digits digits-third lucky">
        <li class="cell"> {{ column[2] }}
        <li class="cell"> A
        <li class="cell"> C
        <li class="cell"> D
        <li class="cell"> B
        <li class="cell"> A
        <li class="cell"> A
        <li class="cell"> B
        <li class="cell"> C
        <li class="cell"> ‎
    </ul>
</div>
{% endfor %}
<div class="winnings faded" classes="remove faded:2s">Profit: {{ winnings }} </div>