<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CV</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <script src="../static/htmx.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
    <link rel="manifest" href="../static/site.webmanifest">
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <!-- PAGE STUFF -->
    <div class="rela-block page">
        <div class="navbar">
            <a href="/">Home</a>
            <div class="dropdown">
                <button href="#projects" class="dropbtn active">Projects
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                    <a class="active" href="/projects/slots">Slot Machine game</a>
                    <a href="#">Online Doc Editor</a>
                    <a href="#">Link1</a>
                </div>
            </div>
            <a href="/files">Files</a>
            <a href="/api">API Docs</a>
            <a style="float: right" href="/login">Log in</a>
        </div>
        <div class="rela-block top-bar" style="height: 500px;">
            <div class="rela-block slots">
                <div id="slots-output" class="rela-block slots-buffers" hx-ext="class-tools">
                    <p style="text-align: center; margin-top: 50%;">Press 'Spin' to start</p>
                </div>
            </div>
        </div>
        <div class="rela-block">
            <div class="slots-actions">
                <button class="btn1"
                hx-get="/slots/spin"
                hx-trigger="click"
                hx-target="#slots-output"
                >Spin</button>
                <button disabled class="btn1 faded"
                hx-get="/user?access_token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIzMjEiLCJleHAiOjE2NzkzMTUyMDB9.BnY9ebTBrYq0Rfl3jmLiqzEH9pW1HQMwcziHAOhEZLE"
                hx-trigger="click"
                hx-target="#slots-output"
                >Test button</button>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src="../static/script.js"></script>

</body>

</html>